<form (ngSubmit)="onSignInSubmit()" #f="ngForm">
  <div class="row">
    <div class="form-group col-sm-12">
      <input id="email" type="email" required name='email' [(ngModel)]="signInUser.email" class="form-control">
      <label for="email">Email</label>
    </div>
    <div class="input-field col-sm-12">
      <input id="password" type="password" required name='password' [(ngModel)]="signInUser.password" class="form-control">
      <label for="password">Password</label>
    </div>
    <div class="col-sm-12">
      <button type="submit" [disabled]="!(f.valid)" [ngClass]="{'disabled': !(f.valid)}" class="btn btn-success">
        Login </button>
    </div>
  </div>
</form>
