<nav class="navbar navbar-expand navbar-toggleable-sm navbar-light bg-faded">
    <!-- Brand and toggle get grouped for better mobile display -->
   	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
   		<span class="navbar-toggler-icon"></span>
	</button>
    <a class="navbar-brand" [routerLink]="['']">Hangman</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="!(authService.userSignedIn$ | async)" class="nav-item">
        	<a class="nav-link" (click)="presentAuthDialog('login')">LOGIN</a>
        </li>
        <li *ngIf="!(authService.userSignedIn$ | async)" class="nav-item">
        	<a class="nav-link" (click)="presentAuthDialog('register')">REGISTER</a>
        </li>

        <li *ngIf="(authService.userSignedIn$ | async)" class="nav-item">
        	<a  class="nav-link" [routerLink]="['/category-choose']">PLAY GAME</a></li>
        <li *ngIf="(authService.userSignedIn$ | async)" class="nav-item">
        	<a class="nav-link" [routerLink]="['/profile']">PROFILE</a>
        </li>
        <li *ngIf="(authService.userSignedIn$ | async)" class="nav-item">
        	<a class="nav-link" (click)="logOut()">LOGOUT</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
